---
import { siteConfig } from "../config/content";
---

<!-- Footer Component -->

<section class="relative text-gray-700 min-h-[60px]">
  <div
    class="container mx-auto px-7 max-w-7xl
           flex justify-center items-end"
  >
    <div
      class="flex items-center space-x-3
             absolute bottom-0 pb-2
             text-neutral-700 dark:text-neutral-300"
    >
      <a
        href="/posts"
        class="group flex items-center space-x-1.5 font-semibold"
      >
        <span
          class="text-xl -translate-y-0.5
                 group-hover:scale-[1.1]
                 transition-transform duration-300 ease-in-out"
        >
          Dragon-CTF
        </span>
        <span class="-translate-y-0.5">Decoder</span>
      </a>

      <span class="opacity-60">|</span>

      <p class="text-sm">
        © 2025 All rights reserved.
      </p>
    </div>
  </div>
</section>