name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Install Dependencies
      run: |
          cd ./blog   # Change directory to /astro
          npm install  # Install dependencies from package.json inside /astro

    - name: Build Site
      run: |
          cd ./blog   # Change directory to /astro
          npm run build  # Install dependencies from package.json inside /astro


    - name: Deploy to GitHub Pages
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./blog/dist
        
