name: Deploy Astro to GitHub Pages

on:
  push:
    branches: [ main ]

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: withastro/action@v2
        with:
          path: ./blog
          node-version: 18
          package-manager: npm

      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
